<%= form_with(model: region, class: "contents") do |form| %>
  <% if region.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-md mt-3">
      <h2><%= pluralize(region.errors.count, "error") %> prohibited this region from being saved:</h2>

      <ul class="list-disc ml-6">
        <% region.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :name %>
    <%= form.text_field :name, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": region.errors[:name].none?, "border-red-400 focus:outline-red-600": region.errors[:name].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :display_name %>
    <%= form.text_field :display_name, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": region.errors[:display_name].none?, "border-red-400 focus:outline-red-600": region.errors[:display_name].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :alpha2_code_iso3166 %>
    <%= form.text_field :alpha2_code_iso3166, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": region.errors[:alpha2_code_iso3166].none?, "border-red-400 focus:outline-red-600": region.errors[:alpha2_code_iso3166].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :numeric_code_iso3166 %>
    <%= form.text_field :numeric_code_iso3166, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": region.errors[:numeric_code_iso3166].none?, "border-red-400 focus:outline-red-600": region.errors[:numeric_code_iso3166].any?}] %>
  </div>

  <div class="inline">
    <%= form.submit class: "w-full sm:w-auto rounded-md px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
