<div id="<%= dom_id region %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Name:</strong>
    <%= region.name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Display name:</strong>
    <%= region.display_name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Alpha2 code iso3166:</strong>
    <%= region.alpha2_code_iso3166 %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Numeric code iso3166:</strong>
    <%= region.numeric_code_iso3166 %>
  </div>
</div>
